@import "tailwindcss";

@theme {
  --font-cormorant: var(--font-cormorant), serif;
  --font-nunito: var(--font-nunito), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}